body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins, Sans-serif';
    background-color: gray;
}

/* Navbar Stili */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1E1E44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    width: 120px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0a500;
}

/* Banner Stili */
.banner {
    position: relative;
    height: 550px;
    background-image: url('İmages/gameback.jpeg');
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:  #F8EDE3;
}

.banner-content {
    padding: 20px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
}

.banner-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.banner-description {
    padding: 30px;
    background-color:   white ; /* Göz alıcı bir gradyan arka plan */
    text-align: center;
    margin: 0 ;
    border-radius: 0px; /* Köşeleri yuvarlatır */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif bir gölge efekti */
    
    
}

.banner-description p {
    font-size: 1.5em; /* Daha büyük yazı boyutu */
    font-weight: bold; /* Yazıyı kalın yapar */
    color: black; /* Beyaz metin rengi */
    margin: 0;
    padding: 0;
    line-height: 1.4; /* Satır yüksekliğini artırır */
}

section {
    padding: 0;
    margin: 0;
    background-color: white;
    
}

section h1 {
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

/* Details Container */
.details-container {
    
    max-width: 1200px;
    margin: 0 auto;
}

/* Details Item */
.details-item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.details-photo img {
    width: 100%;
    max-width: 500px; /* Fotoğrafın maksimum genişliği */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.details-text {
    max-width: 600px;
    margin-left: 40px; /* Fotoğraf ile araya boşluk bırakır */
    

}

.details-text h1 {
    margin-top: 0;
    font-size: 2em;
    color: #2C5F2D ; 
    
}

.details-text p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
    color:#7f8c8d ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.0); /* Gölge efekti */
}

/* Reversed Class for Alternating Layout */
.details-item.reversed {
    flex-direction: row-reverse;
}

.details-item.reversed .details-text {
     margin-left: 0;
    margin-right: 40px; /* Sağ taraftaki fotoğraf için boşluk artırıldı */
}

/* Responsive Design */
@media (max-width: 768px) {
    .details-item {
        flex-direction: column;
        text-align: center;
    }

    .details-photo img {
        max-width: 100%;
    }

    .details-text {
        margin-left: 0;
        margin-right: 0;
    }
}

footer {
    position:relative;
    background-color: #1E1E44; /* Arka plan rengi */
    padding: 40px 20px;
    color: #fff; /* Metin rengi */
    font-family: 'Arial', sans-serif;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
/* Logo Stili */
.footer-logo {
    width: 150px;
}

.footer-logo img {
    width: 100px; /* Logonun boyutu */
    display: block;
    margin: 0; /* Sola yasla */
}

/* Slogan Stili */

.footer-column {
    width: 22%; /* Kolon genişliği */
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}


.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
    font-size: 15px;

}
.footer-column ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: font-size 0.3s ease;

}
.footer-column ul li a:hover{
    font-size: 16px;
}
.footer-copyright {
    
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.0)  ;
    color: #ffffffa3;
    font-size: 14px;
    margin-top: 20px;
}

.footer-copyright p {
    margin: 0;
}

/* Responsive Footer Stili */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-logo img {
        width: 60px; /* Mobilde daha küçük logo */
        margin-bottom: 20px;
    }
}
